@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.header-container {
    height: 75px;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #dddddd;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger-check {
    display: none;
}

.burger-check:checked+.header-left .main-nav {
    left: 0;
}

.header-left {
    display: flex;
    flex-wrap: wrap;

    .logo {
        width: 70px;
        height: 100%;
    }

    .main-nav-list {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-left: 8px;
        height: 100%;

        a {
            padding: 6px;
            text-decoration: none;
            color: black;
            display: flex;
            align-items: center;
            height: 100%;
            transition: color .2s;

            &:hover {
                color: #4b80aa;
            }

        }

        .nav-item {
            list-style: none;
        }
    }
}

.header-right {

    display: flex;
    align-items: center;

    .user-logo {
        width: 60px;
    }

    i {
        font-size: 24px;
        position: relative;
        margin-right: 10px;
    }

    i::after {
        content: "1";
        position: absolute;
        right: -8px;
        top: -8px;
        display: block;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4c83ac;
        color: white;
        font-size: 12px;
        border-radius: 50%;
    }

}

.main-banner {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgb(241, 241, 241);

    .image-banner {
        width: 60%;
        height: 600px;
        object-fit: cover;
    }

    .banner-text {
        text-align: center;
        padding: 48px;
        margin-bottom: 16px;
        text-align: center;

        p {
            margin-top: 8px;
        }
    }
}

.main-products {
    text-align: center;
    max-width: 1400px;
    margin: 32px auto;

    h2 {
        margin: 16px 0;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    .card {
        transition: box-shadow .2s;
        text-align: center;
        width: 300px;

        &:hover {
            box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            position: relative;

            .card-image {
                width: 250px;
                height: 260px;
                padding: 32px 32px 0px 32px;
                margin-bottom: 16px;
                transition: transform .2s;

                &.iPhonese {
                    width: 235px;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .card-body {

            .card-title {
                margin: 0;
            }

            .card-storage {
                margin: 8px 0;

                button {
                    padding: 5px 5px;
                    border: solid 1px black;
                    border-radius: 4px;
                    background-color: white;
                    cursor: pointer;
                    margin-right: 8px;
                    transition: background-color .2s;

                    &:hover {
                        background-color: #f1f1f1;
                    }
                }
            }

            .card-price {
                margin: 8px 0;
            }

            .card-buy {
                padding-bottom: 16px;

                button {
                    padding: 8px 16px;
                    width: 80%;
                    border: none;
                    border-radius: 5px;
                    background-color: #4c83ac;
                    color: white;
                    cursor: pointer;
                    transition: background-color .2s;

                    &:hover {
                        background-color: #7ca2c0;
                    }
                }
            }
        }
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #b5d7e3;
    padding: 32px;
    align-items: center;

    .delivery,
    .shop,
    .contact {
        text-align: center;
        flex-basis: 0;
    }

    p {
        margin-top: 16px;
        color: white;
        font-weight: 700;
        font-size: 21px;
    }

    i {
        font-size: 150px;
        color: white;
    }
}


.secondary-banner-image {
    display: block;
    width: 100%;
}

.footer-container {
    background-color: rgb(71, 71, 71);
    color: white;
    display: flex;
    justify-content: space-around;

    a {
        text-decoration: none;
        color: white;
    }

    .social-networks {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 12px;

        .copyright-logo {
            width: 60px;
        }
    }

    .customer-services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}

@media (width < 900px) {

    .header-container {

        .burger {
            display: flex;
            align-items: center;
            padding: 10px;
        }

        .header-left {

            .main-nav {
                position: absolute;
                height: calc(100dvh - 75px);
                background-color: white;
                top: 75px;
                width: 300px;
                left: -300px;
                transition: left .3s;

                .main-nav-list {
                    flex-direction: column;
                    justify-content: center;
                    gap: 32px;
                }

            }
        }

        .header-right {
            .user-logo {
                display: none;
            }
        }
    }

    .main-banner {
        flex-direction: column;

        .image-banner {
            width: 100%;
            height: 400px;
        }

        .banner-text {
            padding: 16px
        }
    }

    .features {
        flex-direction: column;
        gap: 40px;
        border-bottom: 1px solid black;
        border-top: solid 1px black;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        padding: 16px;

        .social-networks {
            flex-direction: row;
            justify-content: center;
            margin-top: 32px;
            gap: 8px;
        }

        .copyright {
            order: -1
        }

        .customer-services {
            margin-top: 16px;
        }
    }
}